* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

main {
    width: 100%;
}

header {
    width: 100%;
}

nav {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
}

.navbar {
    width: 1270px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>img {
    width: 150px;
}

.menubar>ul {
    width: 100%;
    list-style: none;
    display: flex;
}

.menubar>ul>li {
    font-size: 22px;
    padding: 10px 15px;
    margin: 10px;
    font-weight: 500;
}

.banner {
    /* width: 100%; */
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 200px;
    background: url('../images/the-town-bg-01.jpg');
    background-size: 100% 110%;
    margin-top: 90px;
}

.mainmiddle {
    width: 100%;
    margin: 30px auto;
}

.middlesection {
    width: 1270px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

figure {
    width: 45%;
    height: 100%;
}

figure>img {
    width: 100%;
    height: 100%;
}

aside {
    width: 45%;
    height: 100%;
}

.heading {
    font-size: 40px;
    padding: 20px 0px;
    color: #3496db;
}

article {
    font-size: 26px;
    color: #8f8f8f;
    text-align: justify;
    padding: 20px 0px;
}

button {
    font-size: 25px;
    padding: 10px 15px;
    margin: 20px 0px;
    background-color: #3496db;
    border-radius: 18px;
    color: white;
}

footer {
    width: 100%;
    padding: 30px 0px;
    background-image: url('../images/the-town-bg-02.jpg');
    background-size: 100% 100%;
}

.footermiddle {
    width: 1000px;
    margin: auto;
}

.footerrow1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footerrow1c1 {
    display: flex;
    gap: 10px;
    margin: 40px 0px;
}

.r1c1icon {
    font-size: 40px;
    display: flex;
    align-items: center;
    color: white;
}

.r1c1text {
    font-size: 20px;
    display: flex;
    margin-left: 15px;
    color: white;
    align-items: center;
}

#input1 {
    width: 230px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
}

::placeholder {
    font-size: 20px;
    color: white;
}

#submitbtn {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 12px;
    background: #cad4da;
}